:root {
    background-image: url("../images/Colorful-Marijuana-Plants.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
html {
    background-image: url("../images/Colorful-Marijuana-Plants.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: ghostwhite;
}

h2 {
    font-size: 55px;
    text-align: center;
    color: ghostwhite;
}

#menuitem {
    font-size: 30px;
    text-align: center;
    color: ghostwhite;
}

.homeimage {
    image-resolution: calc();
    image-rendering: auto;
    image-rendering: optimizeQuality;
    image-rendering: crisp-edges;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: black;
    text-align: center;
}
 

.topnav {
    overflow: hidden;
}

      
    .topnav a {
        float: left;
        color: ghostwhite;
        text-align: center;
        cursor: pointer;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
    }

          
        .topnav a:hover {
            background-color: #026b07;
            color: ghostwhite;
        }

      
    .topnav i#cart-icon {
        float: right;
        color: ghostwhite;
        color: ghostwhite;
    }

        .topnav i#cart-icon:hover {
            background-color: #026b07;
            color: ghostwhite;
        }

.dropdown {
    float: left;
    overflow: hidden;
    font-size: 30px;
}

    
    .dropdown .dropbtn {
        font-size: 40px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;   
        margin: 0;  
    }

     
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #026b07;
    }

 
.dropdown-content {
    display: none;
    position: absolute;
    color: ghostwhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

     
    .dropdown-content a {
        float: none;
        color: black;
        color: ghostwhite;
        padding: 12px 16px;
        text-decoration: none;
        background-color: #003a1c;
        display: block;
        text-align: left;
    }

         
        .dropdown-content a:hover {
            background-color: #026b07;
            color: ghostwhite;
        }

  
.dropdown:hover .dropdown-content {
    display: block;
}

.price {
    font-size: 20px;
    text-align: center;
    color: ghostwhite;
}

 
input[type=text], select, textarea {
    width: 100%; 
    font-size: 20px;
    padding: 12px;  
    border: 1px solid #ccc;   
    border-radius: 4px;   
    box-sizing: border-box;  
    margin-top: 6px;  
    margin-bottom: 16px;  
    resize: vertical;
}

  
input[type=submit] {
    background-image: url('/images/webback2.jpg');
    background-position:center center;
    background-size:cover;
    color: ghostwhite;
    font-size: 20px;
    padding: 12px 20px;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

      
    input[type=submit]:hover {
        background-color: #026b07;
    }

label {
    font-size: 25px;
    color: ghostwhite;
}

 
.container {
    border-radius: 5px;
    color: ghostwhite;
    padding-right: 10vh;
    padding-left: 10vh;
}

 
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-image: url("../images/purp3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s;
}

    .cart.active {
        right: 0;
    }

.cart-title {
    color: ghostwhite;
    border-bottom: 2px solid ghostwhite;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-image {
    width: 110px;
    height: 160px;
    object-fit: contain;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.product-name {
    font-size: 30px;
    color: ghostwhite;
}

.details {
    font-size: 22px;
    color: ghostwhite;
}

.cart-price {
    font-size: 21px;
    color: ghostwhite;
}

.cart-quantity {
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 30px;
    color: ghostwhite;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 2px solid ghostwhite;
}

.total-title {
    font-size: 25px;
    color: ghostwhite;
}

.total-price {
    margin-left: 1rem;
    font-size: 25px;
    color: ghostwhite;
}

.buy-btn {
    display: flex;
    margin: 1.5rem auto 0 auto;
    font-size: 25px;
    padding: 12px;
    color: ghostwhite;
    border: none;
}

    .buy-btn:hover {
        background-color: #026b07;
    }

#close-cart {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 35px;
    color: ghostwhite;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: ghostwhite;
    background-color: #003a1c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
}


    .card button:hover {
        background-color: #026b07;
    }

.card-title 
{
    color:ghostwhite;
    font-size: 30px;
    font-weight: 700;
}
.card-text
{
    color: ghostwhite;
    font-size: 25px;
}
.card-details
{
    color: ghostwhite;
    font-size: 20px;
}
.card-img-top {
    width: 300px;
    height: 350px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: ghostwhite;
    background-color: #003a1c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
h4{
    color: ghostwhite;
    text-align: center;
}
                    

